/.full_config.sh
/full_suite.pseudo
/logs
/temp
/test_config.sh
/test_config_boreas-TLU_chronos-nexys_50.cfg
/test_config_boreas-TLU_ept-enclustra.cfg
/test_config_boreas-TLU_ept-nexys.cfg
/test_config_boreas-TLU_ept-nexys_50.cfg
/test_config_enclustra_boreas-nexys_ept.cfg
/test_config_fanout-fib_chronos-enclustra.cfg
/test_config_fanout-fib_ept-enclustra.cfg
/test_config_fanout_chronos-enclustra.cfg
/test_config_fanout_chronos-enclustra_50.cfg
/test_config_fanout_ept-enclustra.cfg
/test_config_ouroboros-loopback.cfg
/test_config_ouroboros-loopback_50.cfg
/test_config_ouroboros-pc059_chronos-enclustra.cfg
/test_config_ouroboros-pc059_chronos-enclustra_50.cfg
/test_config_ouroboros-pc059_crt-enclustra.cfg
/test_config_ouroboros-pc059_crt-enclustra_50.cfg
/test_connections.xml
/vivado